<po-page-default
  p-title="Carts List"
  [p-actions]="pageActions"
>
  <po-table
    [p-columns]="columns"
    [p-items]="items"
    [p-actions]="actions"
    [p-hide-table-search]="false"
    [p-striped]="true"
    [p-sort]="true"
    [p-actions-right]="true"
  ></po-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements"></mat-paginator>

  <po-modal
    #modal
    p-title="Product List"
    [p-click-out]="true"
    [p-hide-close]="true"
    p-size="xl"
  >
  <app-products-list [items]="item_products" [show-actions]="false" ></app-products-list>
  </po-modal>
</po-page-default>
